@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-Wrappers--------------------------------------------------------------------------------------------------------*/

#grid_wrapper_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 60px 280px minmax(100px, 1fr);
    grid-template-areas:
    "tram tram tram"
    "head head head"
    "sec1 sec2 sec3"
    "info info info"
    ;
}

/*-Classes---------------------------------------------------------------------------------------------------------*/

.menu_section {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    position: relative;
}

.menu_text {
    padding: 5px;
}

.menu_img {
    height: 38%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}

/*-Ids-------------------------------------------------------------------------------------------------------------*/

#tram_picture_background {
    grid-area: tram;
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

#section_1 {
    grid-area: sec1;
}

#section_2 {
    grid-area: sec2;
}

#section_3 {
    grid-area: sec3;
}

#info_why {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title_why {
    background-color: rgb(218, 105, 65);
    width: 100%;
}

#text_why {
    background-color: whitesmoke;
    padding: 10px;
}

/*-tags--------------------------------------------------*/

body {
    background-color: rgb(37, 150, 190);
}

header {
    grid-area: head;
    background-color: rgb(70, 70, 70);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: whitesmoke;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

h2 {
    font-family: "Kanit", sans-serif;
    font-size: 1.1rem;
    color: rgb(70, 70, 70);
    text-align: center;
}

p {
    color: rgb(70, 70, 70);
}

a {
    text-decoration: none;
}