@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --burgerline_width: 30px;
    --burgerline_height: 6px;
    --burgerline_margin: 5px;

    --standard_margin: 10px;
    --standard_border_radius: 10px;

    --vasttrafik_blue: rgb(37, 150, 190);
    --vasttrafik_lightblue: rgb(0, 175, 240);
    --text_gray: rgb(70, 70, 70);
    --background_white: whitesmoke;
    --light_gray_background: rgb(220, 220, 220);
    --complementary_orange: rgb(218, 105, 65);
}

/*-Wrappers--------------------------------------------------------------------------------------------------------*/

#grid_wrapper_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 300px 60px auto 280px minmax(100px, 1fr);
    grid-template-areas:
    "menu menu menu"
    "tram tram tram"
    "titl titl titl"
    "imai imai imai"
    "sec1 sec2 sec3"
    "info info info"
    ;
}

#grid_wrapper_hotspots {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto auto auto;
    grid-template-areas: 
    "menu"
    "ihot"
    "map_"
    "tabl"
    ;
}

#grid_wrapper_send_in {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto auto auto auto auto 40px 300px;
    grid-template-areas:
    "menu"
    "isen"
    "stop"
    "line"
    "time"
    "addi"
    "subm"
    "than"
    ;
}

#grid_wrapper_feed {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px auto 100px 100px 100px 100px 100px 100px 100px;
    grid-template-areas:
    /*pos as in post*/
    "menu menu"
    "ifee ifee"
    "pos1 pic1"
    "pos1 pos2"
    "pos3 pos2"
    "pos3 pos4"
    "pos5 pos4"
    "pos5 pos6"
    "pic2 pos6"
    ;
}

/*-Classes--------------------------------------------------------------------------------------------------------*/

.menu_section {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--standard_border_radius);
    margin: calc(var(--standard_margin) - 5px);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--background_white);
    position: relative;
}

.menu_text {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
}

.menu_img {
    height: 38%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}

.info_box {
    background-color: var(--background_white);
    margin: var(--standard_margin) var(--standard_margin) 0px var(--standard_margin);
    border-radius: var(--standard_border_radius);
    padding: var(--standard_margin);
}

.hotspots_text {
    height: 6rem;
}

.send_in_square {
    border-radius: var(--standard_border_radius);
    background-color: var(--background_white);
    margin: var(--standard_margin) var(--standard_margin) 0px var(--standard_margin);
    height: 100px;
    padding: 0px 10px 10px 10px;
}

.send_in_square h2 {
    background-color: var(--complementary_orange);
    color: var(--background_white);
    border-radius: var(--standard_border_radius) var(--standard_border_radius) 0px 0px;
    margin: 0px -10px 0px -10px;
}

.send_in_square input {
    width: 100%;
    height: calc(100% - 40px);
    border-radius: var(--standard_border_radius);
    margin-top: 10px;
    font-family: "Dongle", sans-serif;
    font-size: 1.6rem;
}

.feed_posts {
    background-color: var(--background_white);
    border-radius: var(--standard_border_radius);
    padding: 5px;
}

.feed_posts h2 {
    background-color: var(--complementary_orange);
    font-size: 0.9rem;
    color: var(--background_white);
    margin: -5px -5px 0px -5px;
    border-radius: var(--standard_border_radius) var(--standard_border_radius) 0px 0px;
}

.feed_posts p {
    margin-top: 5px;
}

.feed_left {
    margin: var(--standard_margin) calc(var(--standard_margin)/2) 0px var(--standard_margin);
}

.feed_right {
    margin: 0px var(--standard_margin) var(--standard_margin) calc(var(--standard_margin)/2);
    position: relative;
    top: 10px;
}

.feed_send_in_button {
    border-radius: var(--standard_border_radius);
    background-image: url(../img/tram_at_angle.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed_send_in_button h2 {
    width: 100%;
    background-color: var(--background_white);
}

.links_visible {
    transform: translateY(450px);
}

.burger_line {
    width: var(--burgerline_width);
    height: var(--burgerline_height);
    margin: var(--burgerline_margin);
    background: var(--background_white);
    transition: all 0.5s;
    border-radius: 2px;
}

.burger_in_x_form #burger_line_1 {
    transform: translateY(calc(var(--burgerline_height) + var(--burgerline_margin))) rotate(45deg);
}

.burger_in_x_form #burger_line_2 {
    opacity: 0;
}

.burger_in_x_form #burger_line_3 {
    transform: translateY(calc((-1)*(var(--burgerline_height) + var(--burgerline_margin)))) rotate(-45deg);
}

/*-Ids-------------------------------------------------------------------------------------------------------------*/
#burger {
    cursor: pointer;
    margin-right: 10px;
}

#link_list {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 150px;
    position: absolute;
    top: -400px;
    right: 0;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    background: var(--light_gray_background);
    transition: all 0.5s;
    z-index: -1;
}

#link_list a {
    color: var(--text_gray);
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link_list a:hover {
    background: var(--complementary_orange)
}

#tram_picture_background {
    grid-area: tram;
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

#info_main {
    grid-area: imai;
}

#alternative_1 {
    grid-area: sec1;
}

#alternative_2 {
    grid-area: sec2;
}

#alternative_3 {
    grid-area: sec3;
}

#info_why {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light_gray_background);
}

#title_why {
    color: var(--background_white);
    font-size: 1.4rem;
    background-color: var(--complementary_orange);
    width: 100%;
}

#text_why {
    background-color: var(--background_white);
    padding: 15px;
}

#info_hotspots {
    grid-area: ihot;
    margin-bottom: var(--standard_margin);
}

#article_map {
    grid-area: map_;
    background-color: var(--background_white);
}

#article_map h2, #article_time h2 {
    background-color: var(--complementary_orange);
    color: var(--background_white);
}

#article_map p, #article_time p {
    color: var(--text_gray);
    margin: var(--standard_margin);
}

#article_map img, #article_time img {
    border-radius: var(--standard_border_radius);
    margin: var(--standard_margin);
    width: calc(100% - var(--standard_margin) * 2);
}

#article_time {
    grid-area: tabl;
    background-color: var(--background_white);
}

#info_send_in {
    grid-area: isen;
}

#info_send_in a {
    text-decoration: underline;
    color: blue;
}

#what_stop {
    grid-area: stop;
}

#what_tramline {
    grid-area: line;
}

#what_time {
    grid-area: time;
}

#additional_info {
    grid-area: addi;
    height: 300px;
    margin-bottom: 10px;
}

#submit {
    grid-area: subm;
    background-color: var(--text_gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit input {
    width: 200px;
    height: 30px;
    font-family: "Dongle", sans-serif;
    font-size: 1.6rem;
    border-radius: var(--standard_border_radius);
}

#thank_you {
    grid-area: than;
    background-image: url(../img/tram_at_angle.jpg);
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#thank_you h2, #thank_you p {
    background-color: var(--complementary_orange);
    color: var(--background_white);
    text-align: center;
    margin: 20px 0px 20px 0px;
}

#info_feed {
    grid-area: ifee;
    margin-bottom: calc(var(--standard_margin)/2);
}

#post_1 {
    grid-area: pos1;
}

#post_2 {
    grid-area: pos2;
}

#post_3 {
    grid-area: pos3;
}

#post_4 {
    grid-area: pos4;
}

#post_5 {
    grid-area: pos5;
}

#post_6 {
    grid-area: pos6;
}

#feed_button_1 {
    grid-area: pic1;
}

#feed_button_2 {
    grid-area: pic2;
}

#title_and_menu {
    grid-area: menu;
    position: sticky;
    top: 0px;
    height: 50px;
}

#title_and_menu h1 {
    width: 100%;
}

#main_header {
    background-color: var(--text_gray);
    grid-area: titl;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-tags-----------------------------------------------------------------------------------------------------------*/

body {
    background-color: var(--vasttrafik_blue);
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: var(--text_gray);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

h1 {
    color: var(--background_white);
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: "Kanit", sans-serif;
    font-size: 1.1rem;
    color: var(--text_gray);
    text-align: center;
    text-transform: uppercase;
}

p {
    color: var(--text_gray);
    font-family: "Dongle", sans-serif;
    font-size: 1.5rem;
    line-height: 0.7;
}

a {
    text-decoration: none;
}

/*-Computer adaptions---------------------------------------------------------------------------------------------*/

@media screen and (min-width: 700px) {

    * {
        --standard_margin: 20px;
    }
    
    /*---Wrappers---*/

    #grid_wrapper_main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 300px 60px auto 400px minmax(100px, 1fr);
        grid-template-areas:
        "menu menu menu"
        "tram tram tram"
        "titl titl titl"
        "imai imai imai"
        "sec1 sec2 sec3"
        "info info info"
        ;
    }

    #grid_wrapper_hotspots {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px auto auto;
        grid-template-areas: 
        "menu menu"
        "ihot ihot"
        "map_ tabl"
        ;
    }
    
    #grid_wrapper_send_in {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px auto auto auto 80px 500px;
        grid-template-areas:
        "menu menu menu"
        "isen isen isen"
        "stop line time"
        "addi addi addi"
        "subm subm subm"
        "than than than"
        ;
    }
    
    #grid_wrapper_feed {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px auto 150px 150px 150px 150px;
        grid-template-areas:
        /*pos as in post*/
        "menu menu menu"
        "ifee ifee ifee"
        "pos1 pic1 pos2"
        "pos1 pos3 pos2"
        "pos4 pos3 pos5"
        "pos4 pic2 pos5"
        ;
    }

    /*---classes---*/
    
    .feed_posts h2 {
        font-size: 1.2rem;
    }

    .feed_send_in_button h2 {
        font-size: 1.6rem;
    }

    .feed_left {
        margin: calc(var(--standard_margin)/2);
    }
    
    .feed_right {
        margin: calc(var(--standard_margin)/2);
        position: relative;
        top: 0px;
    }

    .menu_img {
        height: 75%;
    }

    .links_visible {
        transform: translateY(0px);
    }

    /*---ids---*/
    #title_and_menu h1 {
        font-size: 2rem;
        position: absolute;
        background-color: var(--complementary_orange);
        top: 0px;
    }

    #text_why {
        padding: 50px;
        width: calc(1.5rem * 20 + 50px * 2);
    }

    #additional_info {
        margin-bottom: var(--standard_margin);
    }

    #submit input {
        width: 400px;
        height: 60px;
    }

    #thank_you h2, #thank_you p {
        padding: 10px;
    }

    #info_hotspots {
        margin-bottom: 0;
    }

    #article_map {
        margin: var(--standard_margin) calc(var(--standard_margin)/2) var(--standard_margin) var(--standard_margin);
        border-radius: var(--standard_border_radius);
    }

    #article_map img, #article_time img {
        object-fit: contain;
        width: calc(100% - var(--standard_margin) * 2);
    }

    #article_map h2, #article_time h2 {
        border-radius: var(--standard_border_radius) var(--standard_border_radius) 0px 0px;
        font-size: 1.6rem;
    }

    #article_time {
        margin: var(--standard_margin) var(--standard_margin) var(--standard_margin) calc(var(--standard_margin)/2);
        border-radius: var(--standard_border_radius);
    }

    #post_6 {
        display: none;
    }

    #link_list {
        flex-direction: row;
        height: 50px;
        width: 100vw;
        top: 50px;
        background-color: var(--text_gray);
    }

    #link_list a {
        color: var(--background_white);
        width: 25vw;
        height: 52px;
        margin-bottom: 2px;

    }

    #link_list a:hover {
        background: var(--background_white);
        color: var(--text_gray);
    }

    #burger {
        display: none;
    }

    /*---tags---*/

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.6rem;
    }
}