@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --burgerline_width: 30px;
    --burgerline_height: 6px;
    --burgerline_margin: 5px;

    --vasttrafik_blue: rgb(37, 150, 190);
    --text_gray: rgb(70, 70, 70);
    --background_white: whitesmoke;
    --complementary_orange: rgb(218, 105, 65);
}

/*-Wrappers--------------------------------------------------------------------------------------------------------*/

#grid_wrapper_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 60px 280px minmax(100px, 1fr);
    grid-template-areas:
    "tram tram tram"
    "head head head"
    "sec1 sec2 sec3"
    "info info info"
    ;
}

#grid_wrapper_hotspots {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 500px 500px;
    grid-template-areas: 
    "menu"
    "map_"
    "tabl"
    ;
}

#grid_wrapper_send_in {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 200px 200px 200px 400px;
    grid-template-areas:
    "menu"
    "stop"
    "line"
    "time"
    "addi"
    ;
}

#grid_wrapper_feed {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-areas:
    "menu menu"
    "art1 pic1"
    "art1 art2"
    "art3 art2"
    "art3 art4"
    "art5 art4"
    "art5 art6"
    "pic2 art6"
    ;
}

/*-Classes---------------------------------------------------------------------------------------------------------*/

.menu_section {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--background_white);
    position: relative;
}

.menu_text {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
}

.menu_img {
    height: 38%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}

.links_visible {
    transform: translateY(450px);
}

.burger_line {
    width: var(--burgerline_width);
    height: var(--burgerline_height);
    margin: var(--burgerline_margin);
    background: var(--background_white);
    transition: all 0.5s;
}

.burger_in_x_form #burger_line_1 {
    transform: translateY(calc(var(--burgerline_height) + var(--burgerline_margin))) rotate(45deg);
}

.burger_in_x_form #burger_line_2 {
    opacity: 0;
}

.burger_in_x_form #burger_line_3 {
    transform: translateY(calc((-1)*(var(--burgerline_height) + var(--burgerline_margin)))) rotate(-45deg);
}

/*-Ids-------------------------------------------------------------------------------------------------------------*/
#burger {
    cursor: pointer;
    margin-right: 10px;
}

#link_list {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 150px;
    position: absolute;
    top: -400px;
    right: 0;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    background: var(--background_white);
    transition: all 0.5s;
    z-index: -1;
}

#link_list a {
    color: var(--text_gray);
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    width: 150px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link_list a:hover {
    background: var(--complementary_orange)
}

#tram_picture_background {
    grid-area: tram;
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

#alternative_1 {
    grid-area: sec1;
}

#alternative_2 {
    grid-area: sec2;
}

#alternative_3 {
    grid-area: sec3;
}

#info_why {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title_why {
    background-color: var(--complementary_orange);
    width: 100%;
}

#text_why {
    background-color: var(--background_white);
    padding: 10px;
}

#article_map {
    grid-area: map_;
}

#article_time {
    grid-area: tabl;
}

#what_stop {
    grid-area: stop;
    background-color: rgb(0, 23, 66);
}

#what_tramline {
    grid-area: line;
    background-color: forestgreen;
}

#what_time {
    grid-area: time;
    background-color: chartreuse;
}

#additional_info {
    grid-area: addi;
    background-color: coral;
}

#title_and_menu {
    grid-area: menu;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

#title_and_menu h1 {
    margin-left: 10px;
    width: 100%;
}

/*-tags--------------------------------------------------*/

body {
    background-color: var(--vasttrafik_blue);
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

header {
    grid-area: head;
    background-color: var(--text_gray);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

h1 {
    color: var(--background_white);
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

h2 {
    font-family: "Kanit", sans-serif;
    font-size: 1.1rem;
    color: var(--text_gray);
    text-align: center;
}

p {
    color: var(--text_gray);
    font-family: "Dongle", sans-serif;
    font-size: 1.5rem;
    line-height: 0.7;
}

a {
    text-decoration: none;
}